Problem comparing issuer DNs when validating a signature

Hi,
Im having problems with the signature of a certificate. Im using `AutoFirma` (an application to sign documents) to sign an XML, i do this from the frontend of our web application who calls via JavaScript AutoFirma and then i send the signature generated to our Java backend to validate it with XAdES4j. There, it fails in the comparison made in `CertRefUtils.java:59`:
```java
if (cert.getIssuerX500Principal().equals(certRefIssuerPrincipal)
```

The comparison returns `false` because when it compares the `X500Name` of both certs, comparing every `name` field of it, it fails with the `OID.2.5.4.97` here in `X500Name.java:415`:
```java
String thisCanonical = this.getRFC2253CanonicalName();   // returns 2.5.4.97=#0c0f56415445532d413636373231343939
String otherCanonical = other.getRFC2253CanonicalName(); // returns 2.5.4.97=#130f56415445532d413636373231343939
return thisCanonical.equals(otherCanonical);
```

As you can see, the first one starts with `#0c` and the second with `#13`, so the comparison fails. The certificate is valid, i have verified it with our certificate validation services and online validators and I have tested this with other signing application and i dont get this problem, i don´t know what´s going wrong or how to solve it.
If you can help me with this i would appreciate it a lot, this is the certificate (password is 12345):
[cert.zip](https://github.com/luisgoncalves/xades4j/files/2424837/cert.zip)

Hi @alvaro-ortiz-fernandez,

There was a similar issue recently (#157 ) which resulted in a PR by @nekkiy that changed the way DNs are parsed. However, this hasn't been released yet (it's scheduled to v1.5.0). Can you test this with the most recent version of xades4j from source?


@alvaro-ortiz-fernandez: meanwhile, v1.5.0 was release, in case you want to try it.

Hi, sorry for not having answered before. I have tried with the release 1.5.0 and the problem is still the same, i have noticed this line changed in CertRefUtils:49:
```java
old (xades 1.3.2)  -> certRefIssuerPrincipal = new X500Principal(certRef.issuerDN);
new (xades 1.5.0)  -> certRefIssuerPrincipal = x500NameStyleProvider.fromString(certRef.issuerDN);
```
Wich ends up calling the X500Name constructor with this KeywordMap of OIDs:
```sql
{ INITIALS=2.5.4.43, UNIQUEMEMBER=2.5.4.50, FACSIMILETELEPHONENUMBER=2.5.4.23, INTERNATIONALISDNNUMBER=2.5.4.25, C=2.5.4.6, SERIALNUMBER=2.5.4.5, POSTOFFICEBOX=2.5.4.18, ENHANCEDSEARCHGUIDE=2.5.4.47, TELEPHONENUMBER=2.5.4.20, L=2.5.4.7, O=2.5.4.10, MEMBER=2.5.4.31, OWNER=2.5.4.32, SEARCHGUIDE=2.5.4.14, DESCRIPTION=2.5.4.13, DNQUALIFIER=2.5.4.46, BUSINESSCATEGORY=2.5.4.15, SN=2.5.4.4, GIVENNAME=2.5.4.42, TELEXNUMBER=2.5.4.21, POSTALCODE=2.5.4.17, ST=2.5.4.8, TELETEXTERMINALIDENTIFIER=2.5.4.22, OU=2.5.4.11, PHYSICALDELIVERYOFFICENAME=2.5.4.19, STREET=2.5.4.9, CN=2.5.4.3, ROLEOCCUPANT=2.5.4.33, USERPASSWORD=2.5.4.35, NAME=2.5.4.41, UID=0.9.2342.19200300.100.1.1, SEEALSO=2.5.4.34, REGISTEREDADDRESS=2.5.4.26, POSTALADDRESS=2.5.4.16, DESTINATIONINDICATOR=2.5.4.27, X121ADDRESS=2.5.4.24, TITLE=2.5.4.12, DISTINGUISHEDNAME=2.5.4.49, X500UNIQUEIDENTIFIER=2.5.4.45, HOUSEIDENTIFIER=2.5.4.51, GENERATIONQUALIFIER=2.5.4.44, PREFERREDDELIVERYMETHOD=2.5.4.28, DC=0.9.2342.19200300.100.1.25 }
```
The problem here is that the OID that gives me problems is **`OID.2.5.4.97`** wich is not in the map so the result is the same, this methods parse both certs in different way and the comparison fails:
```java
                                                                 v
cert.getIssuerX500Principal()                      --> 2.5.4.97=#0c0f56415445532d413636373231343939
x500NameStyleProvider.fromString(certRef.issuerDN) --> 2.5.4.97=#130f56415445532d413636373231343939
```
The only thing i know is that both parsed strings differ in the first two characters **0c** and **13**, wich come from `DerValue` constructor but i have run out of ideas of how to solve this or whats going wrong. Sorry if this is a bit too complicated or if i didn´t explain it correctly.

@Alvaro-of-95 If you need using attribute which is  'OID.2.5.4.97' you will be able to use custom X500NameStyleProvider. For this you could extend **xades4j.providers.impl.DefaultX500NameStyleProvider** in combination with **xades4j.utils.RFC4519ExtensibleStyle**
Example (see [X500NameStyleProviderTest#normalWithExtendKeywords](https://github.com/luisgoncalves/xades4j/blob/v1.5.0/src/test/java/xades4j/utils/X500NameStyleProviderTest.java#L43)):

```
RFC4519ExtensibleStyle es = new RFC4519ExtensibleStyle();
es.addSymbol("2.5.4.97","ATTRIBUTE_NAME"); //TODO rename 2nd parameter
X500NameStyleProvider x500NameStyleProviderExtend =new DefaultX500NameStyleProvider(es);
```
And set it using [XadesSigningProfile#withX500NameStyleProvider](https://github.com/luisgoncalves/xades4j/blob/v1.5.0/src/main/java/xades4j/production/XadesSigningProfile.java#L213)

```
//XadesSigningProfile profile = ....
profile.withX500NameStyleProvider(es);

```
Regarding 
```
cert.getIssuerX500Principal()                      --> 2.5.4.97=#0c0f56415445532d413636373231343939
x500NameStyleProvider.fromString(certRef.issuerDN) --> 2.5.4.97=#130f56415445532d413636373231343939
```
First byte (in hex format) is [type tag](https://www.obj-sys.com/asn1tutorial/node124.html) . Second byte is content length. Other bytes is content/

...

But advice above doesn't solve this problem...
I created test:
```
package xades4j.utils;

import org.bouncycastle.asn1.x500.X500Name;
import org.junit.Assert;
import org.junit.Test;
import xades4j.providers.X500NameStyleProvider;
import xades4j.providers.impl.DefaultX500NameStyleProvider;

import javax.security.auth.x500.X500Principal;

public class Iss166Test {

    RFC4519ExtensibleStyle es = new RFC4519ExtensibleStyle();
    String strUTF8 = "2.5.4.97=#0c0f56415445532d413636373231343939";
    String strPrintableString = "2.5.4.97=#130f56415445532d413636373231343939";
    {
        es.addSymbol("2.5.4.97", "CUSTOM_ATTRIBUTE");
    }

    @Test
    public void testWithBouncyCastleLib() {
        X500Name x500normal = new X500Name(es,strUTF8);
        X500Name x500canonUtf8 = new X500Name(es,strPrintableString);
        Assert.assertEquals(x500normal, x500canonUtf8);

    }
    @Test
    public void testWithNativeLib () {
        X500NameStyleProvider x500NameStyleProviderExtend = new DefaultX500NameStyleProvider(es);
        X500Principal name1 = x500NameStyleProviderExtend.fromString(strUTF8);
        X500Principal name2 = x500NameStyleProviderExtend.fromString(strPrintableString);
        Assert.assertEquals(name1, name2);
    }

}

```
Test _testWithNativeLib_ is down..

Perhaps need migrate this library to Bouncy Castle API....








@alvaro-ortiz-fernandez  also I said above 
> But advice above doesn't solve this problem...
Regretfully, this library implementation cannot resolve your problem untill migrated to another (BouncyCastle) API for parsing/working with certificates.

Since I'm not that familiar ASN.1 and the different classes (Java and BC) to handles DNs, I need to ask a few more questions  and throw some comments/ideas:

- "AutoFirma" is writing an attribute value as PrintableString (0x13...) but xades4j gets it as UT8String (0x0C...) from the parsed certificate. Also, xades4j seems to preserve the DN from XML as a PrintableString, using Java's `X500Principal` in `DefaultX500NameStyleProvider.fromString()`.
- Are ASN.1 UTF8String and PrintableString supposed to be equivalent? Why isn't Java's implementation considering them equivalent? Is this a bug? It seems that Java's implementation just gets the RFC string version of the DN, which seems to preserve the original "string types" (0x13 vs 0x0C).
- Is there a better way to compare DNs with Java builtin classes other than using X500Principal?
- I realized that `DefaultX500NameStyleProvider`'s `fromString` and `toString` are not coherent since one uses BC and the other uses Java's X500Principal.
  - Could we have a way to get a X500Principal from a BC-parsed DN? (change `DefaultX500NameStyleProvider` implmentation).
  - Going even further, does it make sense to change this provider to actually implement comparison of DNs instead of to/from string? (I didn't go through all the usages yet...)


@alvaro-ortiz-fernandez I'm assuming the error is during validation of the "signing certificate" property... Which `CertificateValidationProvider` are you using? Where is the certificate `cert` coming from? The signature itself (e-g. KeyInfo) or additional certificate stores supplied to `PKIXCertificateValidationProvider`? I'm asking this, because we could also try to find a way to change the Provider (Java) that is used to load the certificates.

@alvaro-ortiz-fernandez / @Alvaro-of-95 : can you write down the DN text string found in the XML produced by AutoFirma?

So, the type of string on the certificate binary seems to be UTF8String. However, the value of the property only contains characters that are also valid in PrintableString (`VATES-A66721499`), which could be why AutoFirma is writing it as `0x13...` in the XML.

I think it is reasonable to say that the two should be consider equivalent, which is Bouncy Castle's behavior.

It seems that DN comparison in xades4j could be changed to use BC's X500Name. I'll run a few more tests, namely parsing certificates with BC provider and comparisons from encoded X500Names) and if no surprise arise I'll work on that change. 

Wrote the following tests, which seem to validate the use case:

````java
public class Issue166Test extends SignatureServicesTestBase
{
    String dnUtf8 = "2.5.4.97=#0c0f56415445532d413636373231343939,CN=UANATACA CA1 2016,OU=TSP-UANATACA,O=UANATACA S.A.,L=Barcelona (see current address at www.uanataca.com/address),C=ES";
    String dnPrintable = "2.5.4.97=#130f56415445532d413636373231343939,CN=UANATACA CA1 2016,OU=TSP-UANATACA,O=UANATACA S.A.,L=Barcelona (see current address at www.uanataca.com/address),C=ES";

    X509Certificate cert;

    @Before
    public void setUp() throws Exception
    {
        CertificateFactory certFactory = CertificateFactory.getInstance("X.509");
        // Certificate includes the value of OID.2.5.4.97 as UTF8String
        FileInputStream fis = new FileInputStream(toPlatformSpecificCertDirFilePath("issue166/EMPUBqscdA.cer"));
        cert = (X509Certificate) certFactory.generateCertificate(fis);
        fis.close();
    }

    @Test
    public void javaCannotCompareStrings() throws Exception
    {
        X500Principal principal1 = new X500Principal(dnUtf8);
        X500Principal principal2 = new X500Principal(dnPrintable);

        Assert.assertFalse(principal1.equals(principal2));
    }

    @Test
    public void javaCannotCompareCertAndString() throws Exception
    {
        X500Principal principal1 = cert.getIssuerX500Principal();
        X500Principal principal2 = new X500Principal(dnPrintable);

        Assert.assertFalse(principal1.equals(principal2));
    }

    @Test
    public void bcCanCompareStrings() throws Exception
    {
        X500Name principal1 = new X500Name(dnUtf8);
        X500Name principal2 = new X500Name(dnPrintable);

        Assert.assertTrue(principal1.equals(principal2));
    }

    @Test
    public void bcCanCompareCertAndString() throws Exception
    {
        X500Name principal1 = new X500Name(cert.getIssuerX500Principal().getName());
        // X500Name principal1 = X500Name.getInstance(cert.getIssuerX500Principal().getEncoded());
        X500Name principal2 = new X500Name(dnPrintable);

        Assert.assertTrue(principal1.equals(principal2));
    }
}
````

I'm not 100% sure if `getName()` or `getEncoded()` should be use (last test), but probably `getEncoded()` to avoid any other issues. 

I'll check how to include this way of comparing DN on the lib and the impact on `X500NameStyleProvider`.

Thinking about this a bit more, the fact that BC can compare the two string values, doesn't change the fact that the representation in the XML is wrong in the first place (since the certificate has it as UTF8String, 0x0c...). If that's the case, seems more like a bug in AutoFirma than xades4j.

@alvaro-ortiz-fernandez any idea why AutoFirma writes the string as a PrintableString (0x13...) ?

From what I could see, the initial byte (`UTF8String` / `printableString`) is decided inside Java classes at the `DerValue`'s constructor with the `isPrintableStringChar(char)` method, the XML generated from AutoFirma has the original string, here i attach both the encoded and decoded XML generated.
[encoded.txt](https://github.com/luisgoncalves/xades4j/files/2483868/encoded.txt)
[decoded.txt](https://github.com/luisgoncalves/xades4j/files/2483872/decoded.txt)

I studied documentation relating current issue.
DN equails X500Principal.

1. DN has match rule _distinguishedNameMatch_. [Link](https://ldapwiki.com/wiki/Distinguished%20Names)
2. [Quote:](https://ldapwiki.com/wiki/DistinguishedNameMatch)

> DistinguishedNameMatch is an EQUALITY Matching Rule

3. [Quote from _EQUALITY Matching Rule_ (NB to  _normalized value_) :](https://ldapwiki.com/wiki/EQUALITY) 

> EQUALITY Matching Rules are used to determine whether one attribute value is equal to another. The determination is generally made based on the normalized value, and ignores insignificant differences (e.g., differences in capitalization or extra spaces). 

4. [Quote from _DefinitionNormalizedValue_:](https://ldapwiki.com/wiki/DefinitionNormalizedValue)

> Converting values which may have multiple representations into a common form 

5. [Additional quote for DN:](https://ldapwiki.com/wiki/DN%20Syntax)  

> The DN Syntax corresponds to the DistinguishedName ASN.1 type from X.501. Note that a BER encoded distinguished name (as used by X.500) re-encoded into the LDAP-specific encoding is not necessarily reversible to the original BER encoding since the chosen string type in any DirectoryString components of the Distinguished Name is not indicated in the LDAP-specific encoding of the distinguished name. (see Section 3.3.6 of RFC 4517).  

I think items above means what comparation any DirectoryString presentation (UTF8String, PrintableString or etc) must be not sensitive from type tag. 

But J9 (IBM JDK) and HotSpot have features when comparing DNs... (I will detail the problem later with an indication of the problem areas in the JDK source code)

So I think need migrate to another mechanism to work with certificate and key stores (not native lib)




@alvaro-ortiz-fernandez : I was under the impression that the XML had the hex version of the attribute. My bad. Now I totally understand why you say that it is a decision within Java classes (when parsing the string from `certRef.issuerDN`).

@nekkiy:
> I think items above means what comparation any DirectoryString presentation (UTF8String, PrintableString or etc) must be not sensitive for type tag.

You're probably right. I saw examples using LDAP names API to compare DNs; maybe in that case the type of DirectoryString is not considered, as per your quotes.

All this said, I think that one of my previous suggestions could be a good option, keeping the solution more contained (instead of trying to replace all certificate / DN processing with BC...).

> Going even further, does it make sense to change this provider to actually implement comparison of DNs instead of to/from string? (I didn't go through all the usages yet...)

This probably means breaking `DefaultX500NameStyleProvider`, but it is a recent, undocumented feature. From a first look (last week) there's just one possible problem: when building a certificate chain, xades4j configures a `X509CertSelector` based on the info in `KeyInfo`.  If `KeyInfo` only contains the issuer/serial it means that the cert path builder algorithm might fail due to the same problem we are discussing. However, if `KeyInfo` contains a certificate and that one is used to configure the selector, it should be fine, as the certificate contains the encoded version.

Was this understandable? What do you guys think about this option? I'll try to create a branch with a possible solution to have a better grasp of the changes/impact.

@alvaro-ortiz-fernandez Can you build from source on the `dn-comparison` branch and test? If not, I can also publish a snapshot version of the package.

Hello @alvaro-ortiz-fernandez / @Alvaro-of-95 :

I have published a snapshot version (1.5.1-SNAPSHOT) on sonatype nexus (https://oss.sonatype.org/#nexus-search;quick~xades4j) based on the contents of the `dn-comparison` branch. Can you test this version?

@alvaro-ortiz-fernandez  / @Alvaro-of-95 

Did you get a chance to test the snapshot build?

Hi, sorry for beign absent, i have been out of home & work until yesterday.

Yes, the bouncycastle´s `X500Name.equals()` works since it doesn´t compares the `string_type` and the `string_length` initial bytes. Im testing it in some signing & validation operations of our application with some other certificates and it works fine by now.

Nice! I will merge the branch and release a new patch version.